<?!= include("views/components/header") ?>
<?!= include("views/components/sidebar") ?>


<main id="main" class="main bg-white">
  <div class="pagetitle">

    <h1>Tickets</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item">Tickets</li>
      </ol>
    </nav>
  </div>


  <section class="section dashboard fi-ticket-create" style="height: 90vh">
    <div class="row text-center d-flex p-5 my-5 align-middle">
      <div class="alert alert-warning" role="alert">
        <h4 class="color-secondary"> Love that you're going beyond the limits! </h4>
        
        <h3> Unfortunately, we don't have anything to show up here! Good day 😉 </h3>
      </div>
    </div>
  </section>

</main>

<?!= include("views/components/footer") ?>