<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FixIT</title>

    <?!= include("assets/css/commonCSS") ?>

</head>

<body class="bg-color-primary">

    <? if('isLanding' in allParams){ ?>
    <div class="container">
        <? }?>

        <header id="header" class="fi-header fixed-top d-flex align-items-center">
            <div class="d-flex align-items-center justify-content-between">

                <? if(!('isLanding' in allParams)){ ?>
                <i class="fa-solid fa-bars ps-2 fi-btn-toggle-sidebar"></i>
                <? }?>

                <a href="index.html" class="fi-logo d-flex align-items-center">
                    <img src="https://raw.githubusercontent.com/maulikpipaliya/ticket-mgmt/383f0a63f42acf109b2c0d3a74956e63a2c646e1/src/assets/img/logo_side_nobg_cropped.png"
                        class="mx-3" alt="" />
                </a>
            </div>


            <? if(!('isLanding' in allParams)){ ?>
            <div class="fi-search-bar">
                <form class="fi-search-form d-flex align-items-center" action="#">
                    <input type="text" class="p-2 px-4 br-050" name="query" placeholder="Search"
                        title="Enter search keyword" />
                    <button type="submit" class="bg-none border-none" title="Search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </div>
            <? }?>



            <div class="fi-header-nav ms-auto">
                <ul class="d-flex align-items-center">
                    <li class="nav-item pe-3">
                        <a href="<?= ScriptApp.getService().getUrl(); ?>?path=createTicket"
                            class="bg-color-secondary color-primary br-1 border-none p-2 px-4" target="_blank">Raise
                            Ticket</a>
                    </li>

                    <li class="nav-item dropdown pe-3">
                        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#"
                            data-bs-toggle="dropdown">
                            <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="Profile"
                                class="rounded-circle" />
                            <span class="d-none d-md-block dropdown-toggle ps-2 color-secondary">Maulik Pipaliya</span>
                        </a>
                        <!-- End Profile Iamge Icon -->

                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                            <li class="dropdown-header">
                                <h6 class="color-secondary">Maulik Pipaliya</h6>
                                <span>Technician</span>
                            </li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>

                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                                    <i class="bx bx-person"></i>
                                    <span>My Profile</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>

                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                                    <i class="bx bx-gear"></i>
                                    <span>Account Settings</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>

                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                                    <i class="bx bx-question-circle"></i>
                                    <span>Need Help?</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>

                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <i class="bx bx-box-arrow-right"></i>
                                    <span>Sign Out</span>
                                </a>
                            </li>
                        </ul>
                        <!-- End Profile Dropdown Items -->
                    </li>
                    <!-- End Profile Nav -->
                </ul>
            </div>
        </header>